.bg-body {
	background: rgb(236, 234, 241);  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgb(254, 252, 255), rgb(238, 235, 245));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgb(253, 251, 255), rgb(250, 247, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-navbar {
	background: #757F9A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fg-navbar-color{
	color: azure;
}